html {
    background-color: rgba(255, 212, 0, 0.35);
}

.Heading1 {
    font-family: 'ubuntu', 'sans-serif';
    font-size: 5vw;
    color: rgba(227, 123, 0, 1);
}

.Heading2 {
    font-family: 'ubuntu', 'sans-serif';
    font-size: 3vw;
}

.container {
    width: 85%;
    float: right;
}

hr {
    width: 100%;
    border: 6px solid #000;
    border-radius: 3px;
}