* {
	padding: 0;
	margin: 0;
}

html {
	width: 100%;
}

body {
	width: 100%;
	background-color: rgba(255, 212, 128, 0.35);
}

.visualClear {
	clear: none;
}

#HQ_page p {
	font-size: 0;
}

figcaption {
	font-family: "ubuntuMonoRegular", "sans-serif";
}

#progressBar {
	position: fixed;
	top: 0;
	width: 10px;
	height: 0%;
	background-color: #E69900;
	display: none;
}

/*Human Practice Page*/

.HP {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/3/36/T--KCIS_NewTaipei--humanPracticeBG.jpg");
	background-repeat: no-repeat;
	background-size: 2000px 100vh;
	background-position: 40% 0%;
	position: relative;
}

.HP .wordContainer {
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	position: absolute;
	padding: 36vh 10vw;
	white-space: nowrap;
}

.HP .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.HPHeading {
	font-family: 'ubuntu', 'sans-serif';
	font-size: 5vw;
	padding: 4vw;
}

.HPText {
	font-family: 'ubuntuMonoRegular', 'sans-serif';
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.HPIMG {
	width: 100%;
}

.HPIMGWrapper {
	width: 30%;
	margin: 2vh auto;
}

.HPFigCap {
	font-family: 'ubuntuMonoRegular', 'sans-serif';
	font-size: 1.2vw;
	width: fit-content;
	margin: 0 auto;
}

/*Description Page*/

.DP {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/e/e6/T--KCIS_NewTaipei--Description.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.DP .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.DP .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.returnButton {
	position: fixed;
	top: 40vh;
	right: 2.2vw;
	z-index: 10;
	width: 2vw;
	height: 12vh;
	cursor: pointer;
	display: none;
}

.RB1, .RB2 {
	position: absolute;
	right: 1vw;
	width: 2px;
	height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #000;
	cursor: pointer;
}

.RB1 {
	transform: translate(-5px) rotate(30deg);
}

.RB2 {
	transform: translate(5px) rotate(-30deg);
}

.RB3 {
	position: absolute;
	right: 1vw;
	width: 2px;
	height: 80px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #000;
	transform: translateY(4px);
	cursor: pointer;
}

.pinnedMenuContainer {
	position: -webkit-sticky;
	position: sticky;
	top: 15vh;
	width: 0;
	float: left;
}

.pinnedMenu {
	list-style: none;
	position: relative;
	left: -21vw;
	width: 15vw;
	padding: 1vw !important;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 212, 128, 0.4);
}

.pinnedMenu button {
	background-color: rgba(196, 196, 196, 0.3);
	padding: 0.6vw;
	border-radius: 100%;
	border: 0.2vw solid #c4c4c4;
	cursor: pointer;
	margin-right: 1vw;
	-webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pinnedMenu button:hover {
	background-color: #c4c4c4;
	-webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	-o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
	transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pinnedMenu li {
	padding: 1vw 0.6vw;
}

.pinnedMenu li a {
	text-decoration: none;
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	font-weight: 600;
	color: #000;
	white-space: nowrap;
	line-height: 1.8vw;
}

a[class*="Link"] {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.bgLink, .TRYLink, .INSLink, .REFLink {
	align-items: center;
}

.CSPLink, .OSLink {
	align-items: baseline;
}

.mainContainer {
	width: 65vw;
	height: fit-content;
	margin-top: 10vh;
	margin-right: 8vw;
	margin-bottom: 20vw;
	float: right;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 212, 128, 0.4);
}

.PDTitle {
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 5vw;
	font-weight: 600;
	padding: 0px 3vw;
	white-space: nowrap;
}

.descriptionHeader {
	font-family: 'ubuntu', 'sans-serif';
	font-size: 4vw;
	padding: 4vh 2.5vw;
}

.descriptionTitle {
	font-family: 'ubuntu', 'sans-serif';
	font-size: 2vw;
	font-weight: 600;
	padding: 4vh 2.5vw;
	white-space: nowrap;
}

.DPContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.descriptionOVWrapper {
	position: relative;
	margin-top: 10vh;
	width: 30%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.descriptionOV {
	width: 100%;
}

.DPFig1 {
	width: fit-content;
	height: fit-content;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: rgba(245, 141, 141, 0.26);
	text-align: center;
	font-size: 1.2vw;
	padding: 1vw;
}

.VDMapWrapper {
	position: relative;
	margin-top: 10vh;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.VDMap {
	width: 100%;
}

.DPFig2 {
	width: calc(100% - 16vw);
	height: fit-content;
	margin: 4vh 8vw;
	background-color: rgba(245, 141, 141, 0.26);
	font-size: 1.2vw;
	padding: 1vw;
}

.flexContainer {
	display: flex;
}

.VDS {
	margin-bottom: 6vh;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}

.DPFig3 {
	width: calc(100% - 45vw);
	height: 100%;
	background-color: rgba(245, 141, 141, 0.26);
	padding: 1vw;
	margin: 0 auto;
	font-size: 1.2vw;
}

.UVLT {
	position: relative;
	top: 4vh;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 6vh;
}

.DPFig4 {
	width: calc(100% - 38vw);
	height: 100%;
	background-color: rgba(245, 141, 141, 0.26);
	padding: 1vw;
	font-size: 1.2vw;
	margin: 0 auto;
}

.BPPCWrapper {
	margin-top: 5vh;
	position: relative;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.BPPC {
	width: 100%;
}

.DPFig5 {
	width: calc(100% - 16vw);
	height: fit-content;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto;
	padding: 1vw;
	font-size: 1.2vw;
}

.BPPWrapper {
	margin-top: 5vh;
	position: relative;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.BPP {
	width: 100%;
}

.DPFig6 {
	width: calc(100% - 24vw);
	background-color: rgba(245, 141, 141, 0.26);
	padding: 1vw;
	margin: 4vh auto;
	font-size: 1.2vw;
}

.BPProcessWrapper {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
}

.BPProcess {
	width: 100%;
}

.DPFig7 {
	width: calc(100% - 20vw);
	height: fit-content;
	background-color: rgba(245, 141, 141, 0.26);
	padding: 1vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2vw;
}

.mainContainer ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vh;
}

.mainContainer ol li {
	white-space: normal;
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 0.8vw;
	margin: 1vw 0;
	line-height: 1vw;
	list-style: decimal;
}

/*Team Member Page*/

.TMP {
	width: 100vw;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/0/07/T--KCIS_NewTaipei--Team.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.TMP .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #FFF;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	z-index: 0;
}

.TMP .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.TMPMainContainer {
	width: 100%;
	height: auto;
	position: relative;
	top: 0;
}

.teamIMGWrapper {
	width: 16vw;
	height: 16vw;
}

.INSTitle {
	font-family: "ubuntu", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: fit-content;
	top: 10vh;
	left: 7.5vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

div[class*="Des"] {
	line-height: 3.3vh;
	font-family: 'ubuntuMonoRegular', 'sans-serif';
}

.INS1 {
	display: flex;
	position: relative;
	margin-top: 24vh;
	padding-left: 12vw;
	align-items: center;
}

.INS1Pic {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.INS1Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.INS2 {
	display: flex;
	align-items: center;
	position: relative;
	top: 18vh;
	padding-left: 32vw;
}

.INS2Pic {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.INS2Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.INS3 {
	display: flex;
	align-items: center;
	position: relative;
	top: 32vh;
	padding-left: 12vw;
}

.INS3Pic {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.INS3Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.TMPEXPTitle {
	font-family: "ubuntu", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: fit-content;
	margin-top: 38vh;
	left: 8vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

.TMPEXP {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 10vh;
	left: 9vw;
	width: calc(100% - 18vw);
	height: auto;
	background-color: rgba(65, 6, 3, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.fas.fa-circle {
	color: rgba(77, 7, 7, 0.5);
	font-size: 1.5vw;
}

.fas.fa-circle:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1vw;
}

.fas.fa-circle:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1vw;
}

.fas.fa-circle:nth-child(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1vw;
}

.fas.fa-circle:nth-child(4) {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1vw;
}

.EXP1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.EXP1Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.EXP1Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.EXP2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.EXP2Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.EXP2Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.EXP3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.EXP3Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.EXP3Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.TMPHPTitle {
	font-family: "ubuntu", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: fit-content;
	margin-top: 10vh;
	left: 8vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

.TMPHP {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 10vh;
	left: 9vw;
	width: calc(100% - 18vw);
	height: auto;
	background-color: rgba(65, 6, 3, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.HP1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.HP1Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.HP1Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.HP2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.HP2Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.HP2Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.HP3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.HP3Pic {
	border-radius: 100%;
	margin-top: 6vh;
	margin-bottom: 6vh;
}

.HP3Des {
	font-size: 1.2vw;
	white-space: nowrap;
}

.TMPWIKITitle {
	position: relative;
	font-family: "averiaSerifLibre", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: 15%;
	margin-top: 10vh;
	left: 8vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

.TMPWIKI {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 10vh;
	left: 9vw;
	width: calc(100% - 18vw);
	height: auto;
	background-color: rgba(65, 6, 3, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.WIKI1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.WIKI1Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.WIKI1Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.WIKI2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.WIKI2Pic {
	border-radius: 100%;
	margin-bottom: 6vh;
}

.WIKI2Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.WIKI3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28vw;
	height: auto;
	margin: 4vh 0vw;
	position: relative;
}

.WIKI3Pic {
	border-radius: 100%;
	margin-top: 4vh;
	margin-bottom: 5vh;
}

.WIKI3Des {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.MODTitle {
	position: relative;
	font-family: "averiaSerifLibre", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: 12%;
	margin-top: 10vh;
	left: 8vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

.TMPM {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	margin-top: 10vh;
	left: 50%;
	transform: translate(-50%, 0%);
	width: calc(100% - 40vw);
	height: auto;
	background-color: rgba(65, 6, 3, 0.2);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 8vh 1vw;
}

.MODPic {
	border-radius: 100%;
}

.MODDes {
	font-family: "playfairDisplay", "sans-serif";
	font-size: 1.3vw;
}

.mentoTitle {
	position: relative;
	font-family: "averiaSerifLibre", "sans-serif";
	font-size: 3vw;
	background-color: #c4c4c4;
	position: relative;
	width: 21%;
	margin-top: 20vh;
	left: 8vw;
	padding: 1vw 2vw;
	white-space: nowrap;
}

.TMPMento1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding-left: 16vw;
	margin-top: 10vh;
}

.mentoPic1 {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.mentoDes1 {
	font-size: 1.3vw;
	margin-left: 4vw;
}

.TMPMento2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding-left: 32vw;
	margin: 10vh 0;
}

.mentoPic2 {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}

.mentoDes2 {
	font-size: 1.3vw;
	margin-left: 4vw;
}

/*Education Page*/

.EDU {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/c/c5/T--KCIS_NewTaipei--Education.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.EDU .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.EDU .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.eduHeading1 {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.eduSubHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 2vw;
	padding: 2.5vw;
}

.eduSubSubHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 1.3vw;
	padding: 2.5vw;
}

.eduText {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.eduTextFlex {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	line-height: 3.3vh;
}

.eduimgFlex1 {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.eduimgWrapper1 {
	width: 20vw;
	height: 12vw;
	margin-top: 6vw;
}

.eduimgWrapper2 {
	width: 20vw;
	height: 12vw;
	margin-top: 6vw;
}

.edupic1 {
	width: 100%;
	height: 100%;
}

.edupic2 {
	width: 100%;
	height: 100%;
}

.linkContainer {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1vw;
	width: fit-content;
	padding: 1em;
	margin-top: 6vw;
	margin-left: 6vw;
	background-color: #c4c4c4;
}

.etshFlex {
	display: flex;
	flex-direction: column;
}

.eduimgFlex2 {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	justify-content: space-between;
	margin-top: 4vh;
}

.eduimgWrapper3, .eduimgWrapper4 {
	width: 24vw;
	height: 24vw;
}

.edupic3, .edupic4 {
	width: 100%;
	height: 100%;
	box-shadow: 0px 8px 16px 0px rgba(71, 53, 53, 0.5);
}

.edufig1and2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	margin-bottom: 6vh;
	background-color: rgba(245, 141, 141, 0.26);
	text-align: center;
	font-size: 1.2vw;
	padding: 1vw;
}

.eduimgFlex3 {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
	justify-content: space-between;
}

.edufig3 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	margin-bottom: 6vh;
	width: 80%;
	text-align: left;
	font-size: 1.2vw;
	padding: 1vw;
	line-height: 3.3vh;
}

.eduimgWrapper5, .eduimgWrapper6 {
	height: 35vw;
	width: 25vw;
}

.edupic5, .edupic6, .edupic7, .edupic8, .edupic9, .edupic10 {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	width: 100%;
}

.eduimgWrapper {
	width: 30vw;
	margin: 4vh auto;
}

/*Safety Page*/

.SFTY {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/6/6a/T--KCIS_NewTaipei--Safety.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.SFTY .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.SFTY .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 48%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.GSLink, .PSSLink {
	align-items: baseline;
}

.sftyHeading1 {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.sftyHeading2 {
	font-family: "ubuntu", "san-serif";
	font-size: 3vw;
	padding: 4vw;
}

.sftyText {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.labWiki_wrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.5vh;
}

.labWiki_Pic {
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 50%);
}

.SFTYFig1 {
	width: fit-content;
	height: fit-content;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: rgba(245, 141, 141, 0.26);
	text-align: center;
	font-size: 1.2vw;
	padding: 1vw;
}

.SFTY ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vh;
}

.SFTY ol li {
	white-space: normal;
	font-family: "playfairDisplay", "sans-serif";
	font-size: 0.8vw;
	margin: 1vw 0;
	line-height: 1vw;
	list-style: decimal;
}

/*Implementation Page*/

.IMP {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/8/8a/T--KCIS_NewTaipei--Implementation.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.IMP .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.IMP .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.pinnedMenuContainer1 {
	position: -webkit-sticky;
	position: sticky;
	top: 10vh;
	width: 0;
	float: left;
}

.pinnedMenuContainer1 .pinnedMenu li {
	padding: 0.6vw 0.6vw;
}

.impHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.impText {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.IMPPic1Wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.IMPPic1, .IMPPic2, .IMPPic3, .IMPPic4, .IMPPic5, .IMPPic6 {
	width: 100%;
}

.IMPPic1Cap {
	width: 60%;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
}

.IMPPic2Wrapper {
	width: 50%;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
}

.IMPPic2Cap {
	width: 60%;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto 0;
}

.IMPPic3Wrapper {
	width: 60%;
	margin: 4vh auto 0;
}

.IMPPic3Cap {
	width: 70%;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto 0;
}

.IMPPic4Wrapper {
	width: 60%;
	margin: 4vh auto 0;
}

.IMPPic4Cap {
	width: fit-content;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto;
}

.IMPPic5Wrapper {
	width: 60%;
	margin: 4vh auto 0;
}

.IMPPic5Cap {
	width: fit-content;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto;
}

.IMPPic6Wrapper {
	width: 60%;
	margin: 4vh auto 0;
}

.IMPPic6Cap {
	width: fit-content;
	padding: 1vw;
	background-color: rgba(245, 141, 141, 0.26);
	margin: 4vh auto;
}

.impHeading1 {
	font-family: "ubuntu", "sans-serif";
	font-size: 2vw;
	padding: 3.5vw;
}

.impText em {
	font-style: normal;
	font-weight: bold;
	line-height: 10vh;
}

.articleLink {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 10vh;
}

.IMP ol {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.IMP ol li {
	white-space: normal;
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 0.9vw;
	margin: 1vw 0;
	line-height: 1vw;
	list-style: decimal;
}

/*Collaboration Page*/

.COLLAB {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/a/a4/T--KCIS_NewTaipei--Collaboration.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.COLLAB .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.COLLAB .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.COLLABHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.COLLABContent {
	font-family: 'ubuntuMonoRegular', 'sans-serif';
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.COLLABIMGTape {
	width: 6vw;
	height: 3vw;
	position: relative;
	background-color: #A0A0A0;
	opacity: .44;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 50%);
}

.COLLABIMG1, .COLLABIMG2, .COLLABIMG5, .COLLABIMG6 {
	width: 100%;
	box-shadow: 20px 20px 5px 0px rgba(128, 128, 128, 1);
}

.COLLABIMG3, .COLLABIMG4 {
	width: 30%;
}

.COLLABIMG6 {
	margin: 5vh 0;
}

.COLLABIMGWrapper {
	width: 70%;
	margin: 0 auto;
}

.COLLABIMGFlex {
	margin: 6vh 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*Attribution Page*/

.ATTRIB {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/8/81/T--KCIS_NewTaipei--Attribution.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.ATTRIB .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 10vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ATTRIB .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.ATTRIBMainContainer {
	width: 80%;
	margin-top: 10vh;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 212, 128, 0.4);
}

.ATTRIBTitle {
	font-family: 'ubuntu', 'sans-serif';
	font-size: 5vw;
	padding: 4vw;
}

.ATTRIBSubTitle {
	font-family: 'ubuntu', 'sans-serif';
	font-size: 2vw;
	padding: 0 4vw;
}

.ATTRIBT1 {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	margin: 2vw 0;
}

.ATTRIBT1, #HQ_page td, td {
	border: 2px solid #000;
	border-collapse: collapse;
}

#HQ_page td, td {
	font-family: 'ubuntuMonoRegular', 'sans-serif';
	font-size: 1.2vw;
	padding: 1em;
}

/*Entrepreneurship page*/

.ENTRPRNR {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/b/b0/T--KCIS_NewTaipei--Entrepreneurship.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.ENTRPRNR .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ENTRPRNR .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.entrHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.entrContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.entrContent2 {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
	padding-bottom: 3.5vh;
}

.entrPhoto1Wrapper {
	position: relative;
	margin-top: 3.5vh;
	width: 35%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.entrPhoto1 {
	width: 100%;
}

.entrPhoto2 {
	position: relative;
	margin-top: 3.5vh;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
}

/* Hardware Page */

.HDWR {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.HDWR .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.HDWR .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.hdwrHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.hdwrContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.hdwrontent2 {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
	padding-bottom: 3.5vh;
}

.hdwrPhoto1Wrapper {
	position: relative;
	margin-top: 3.5vh;
	margin-bottom: 2vh;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.hdwrPhoto1 {
	width: 100%;
}

.hdwrPhotoFlexContainer {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 2.5vh;
	margin-bottom: 1vh;
	margin-left: 9vw;
	margin-right: 9vw;
}

.capPhoto {
	width: calc(100% - 45vw);
	height: 100%;
	background-color: rgba(245, 141, 141, 0.26);
	padding: 1vw;
	margin-bottom: 3vh;
	text-align: center;
	margin: 1.5vh auto 3vh;
	font-size: 1.2vw;
}

.hdwrContent2 {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	line-height: 3.3vh;
}

/* experiment page*/

.EXP {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.EXP .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.EXP .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.expHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
	line-height: 6.25vh;
}

.expPhotoWrapper1 {
	position: relative;
	margin-top: 0vh;
	margin-bottom: 2vh;
	width: 40%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.expPhotoWrapperSmall {
	position: relative;
	margin-top: 3.5vh;
	margin-bottom: 3vh;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.expPhotoWrapperBig {
	position: relative;
	margin-top: 3.5vh;
	margin-bottom: 3vh;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.photo1 {
	width: 100%;
}

.photo2 {
	width: 100%;
}

.photo3 {
	width: 100%;
}

.photo4 {
	width: 100%;
}

.photo5 {
	width: 100%;
}

.photo6 {
	width: 100%;
}

.expHeading_HBD {
	font-family: "ubuntu", "sans-serif";
	font-size: 2vw;
	margin-top: 1vh;
	margin-bottom: 1.25vh;
	margin-left: 5vw;
}

.expHeading_BCD {
	font-family: "ubuntu", "sans-serif";
	font-size: 2vw;
	margin-top: 2vh;
	margin-bottom: 1.25vh;
	margin-left: 5vw;
}

.expContentHeading {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
	line-height: 3.3vh;
}

.expContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.expContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vh;
	line-height: 3.3vh;
}

/* Notebook Page*/

.NTBK {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.NTBK .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.NTBK .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.ntbkHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.ntbkContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.ntbkContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5vh;
	line-height: 3.3vh;
}

/* Contribution page*/

.CNTRB {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.CNTRB .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.CNTRB .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.cntrbHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.cntrbContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.cntrbContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5vh;
	line-height: 3.3vh;
}

.video1 {
	position: relative;
	margin-top: 4vh;
	margin-left: 50%;
	transform: translateX(-50%);
}

/* Parts Page*/

.PART {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.PART .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.PART .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.partHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.partContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.partPhoto {
	width: 100%;
}

.table {
	position: relative;
	left: 50%;
	margin-top: 3.5vh;
	transform: translateX(-50%);
	border-collapse: collapse;
	
}
.tableEnding {
	position: relative;
	left: 50%;
	margin-top: 3.5vh;
	margin-bottom: 3.5vh;
	transform: translateX(-50%);
	border-collapse: collapse;
}

.table td {
	padding: 0.75vw;
}

.partContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5vh;
	line-height: 3.3vh;
}

/* Proof of Concept*/

.PROOF {

	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.PROOF .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.PROOF .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.proofHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 2.5vw;
}

.proofHeading2 {
	font-family: "ubuntu", "sans-serif";
	font-size: 3vw;
	padding: 4vw;
}

.proofContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.proofContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.6vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4vh;
	line-height: 3.3vh;
}

.imageWrapper {
	position: relative;
	margin-top: 0vh;
	margin-bottom: 2vh;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.image {
	width: 100%;
}

/* Modeling Page */

.MD {
	width: 100%;
	height: 100vh;
	background-image: url("https://2021.igem.org/wiki/images/4/42/T--KCIS_NewTaipei--placeHolder.png");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	position: relative;
}

.MD .wordContainer {
	position: absolute;
	font-family: "dmSerifDisplay", "sans-serif";
	font-size: 9.5vw;
	color: #fff;
	white-space: nowrap;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.MD .wordContainer em {
	position: absolute;
	font-style: normal;
	color: #000;
	top: 50%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: -1;
	filter: blur(4px);
}

.mdHeading {
	font-family: "ubuntu", "sans-serif";
	font-size: 4vw;
	padding: 3.5vw;
}

.mdContent {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	line-height: 3.3vh;
}

.mdContentEnding {
	font-family: "ubuntuMonoRegular", "sans-serif";
	font-size: 1.2vw;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7.5vh;
	line-height: 3.3vh;
}

.pdf {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5vh;
}